.booking__item {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid rgb(19, 91, 187);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.booking__item-data {

}

.booking__item-actions {

}